<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Medicine - MS Jonony Medical Store</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="style/logo.png" type="image/x-icon">

    <!-- External CSS -->
    <link rel="stylesheet" href="style/Sell_medicine.css">
</head>

<body>
    <!-- ===============================
         HEADER SECTION
    ================================ -->
    <header>
        MS JONONY MEDICAL STORE
    </header>

    <!-- ===============================
         NAVIGATION SECTION
    ================================ -->
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a  href="#">Add Medicine</a></li>
            <li><a href="#">Medicine</a></li>
            <li><a class="active"href="#">Sell Medicine</a></li>
            <li><a href="#">Customer</a></li>
            <li><a href="#">Business Report</a></li>
            <li><a href="#">Log Out</a></li>
        </ul>
    </nav>

    <div class="search-container">
        <input type="search" id="search-input" placeholder="Search...">
        <button type="submit" id="search-button">
            <!-- Icon will go here -->
             <i class="fa fa-search"></i> 
        </button>
    </div>





 <!-- ===============================
         FOOTER SECTION
    ================================ -->
    <footer>
        © 2025 <strong>Shahinur Rahman</strong>. All rights reserved. |
        Developed & Maintained by 
        <a href="#" target="_blank">OrbonTech</a>
    </footer>
</body>
</html>